mixin header()
  +b.HEADER.header&attributes(attributes)
    +ui-section-head
      +header-menu
      +b.header-content
        +e.P.__text._top Сервис онлайн-заказ массажа
          br
          | на дом в Москве
        +e.P.__text._bottom Отлично&nbsp;
          +rating(active, 5)
          | рейтинг в AppStore