@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: $container-width;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}

.js-sr {
  visibility: hidden;
}

.visually-hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  min-height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}