mixin masseur()
  +b.SECTION.masseur(id="masseur")&attributes(attributes)
    .container
      .masseur-wrapper
        +e.H2.__title Квалифицированные массажисты
        +e.P.__text Все специалисты сдают теоретические и практические экзамены, чтобы стать партнером Welny
        .slider2-wrapper
          +slider2(false, true)
            +slide
              .masseur-slide-wrapper
                .masseur-slide-heading
                  .rating-wrapper
                    img(src="./assets/images/big-star.svg", alt="звезда")
                    +e.P.__rating 4.9
                  +e.IMG.__photo(src="./assets/images/masseur-1.jpg", alt="Ангелина")
                  +e.P.__name Ангелина
                +e.P.__qualify Стаж работы более трёх лет и продолжает непрерывно совершенствовать свои знания. Образование: Высшее медицинское. Сертификат специалиста более 200 ак. часов.
            +slide
              .masseur-slide-wrapper
                .masseur-slide-heading
                  .rating-wrapper
                    img(src="./assets/images/big-star.svg", alt="звезда")
                    +e.P.__rating 5.0
                  +e.IMG.__photo(src="./assets/images/masseur-2.jpg", alt="Анастасия")
                  +e.P.__name Анастасия
                +e.P.__qualify Стаж 4 года, опыт работы персональным тренером по фитнесу, опыт работы массажистом в подразделении реабилитации.
                  br
                  | Образование: Высшее.
                  br
                  | Сертификат специалиста более 200 ак. часов.
            +slide
              .masseur-slide-wrapper
                .masseur-slide-heading
                  .rating-wrapper
                    img(src="./assets/images/big-star.svg", alt="звезда")
                    +e.P.__rating 5.0
                  +e.IMG.__photo(src="./assets/images/masseur-3.jpg", alt="Анжелика")
                  +e.P.__name Анжелика
                +e.P.__qualify Образование: среднее медицинское.
                  br
                  | Сертификат специалиста более 200 ак. часов.
            +slide
              .masseur-slide-wrapper
                .masseur-slide-heading
                  .rating-wrapper
                    img(src="./assets/images/big-star.svg", alt="звезда")
                    +e.P.__rating 5.0
                  +e.IMG.__photo(src="./assets/images/masseur-5.jpg", alt="Дмитрий")
                  +e.P.__name Дмитрий
                +e.P.__qualify Стаж работы более 11 лет. Большой опыт работы в фитнес индустрии. Постоянно проходит семинары повышения квалификации. Образование: среднее медицинское. Сертификат специалиста более 200 ак. часов.
            +slide
              .masseur-slide-wrapper
                .masseur-slide-heading
                  .rating-wrapper
                    img(src="./assets/images/big-star.svg", alt="звезда")
                    +e.P.__rating 4.9
                  +e.IMG.__photo(src="./assets/images/masseur-6.png", alt="Татьяна")
                  +e.P.__name Татьяна
                +e.P.__qualify Стаж работы более 4 лет.⠀
                  br
                  | Образование: Среднее медицинское.
                  br
                  | Сертификат специалиста более 200 ак. часов.
            +slide
              .masseur-slide-wrapper
                .masseur-slide-heading
                  .rating-wrapper
                    img(src="./assets/images/big-star.svg", alt="звезда")
                    +e.P.__rating 4.9
                  +e.IMG.__photo(src="./assets/images/masseur-4.jpg", alt="Тимур")
                  +e.P.__name Тимур
                +e.P.__qualify Специалист со стажем 7 лет. К каждому клиенту имеет отдельный подход. Образование: Высшее медицинское. Сертификат специалиста более 200 ак. часов.
