.masseur {
  display: block;
  background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0.3));

  &__title {
    @include text-7;
    margin: 0 67px 14px;
    text-align: center;
  }

  &__text {
    @include text-13;
    margin: 0 13px 15px;
    text-align: center;
  }
}

.masseur-wrapper {
  padding: 14px 0 16px 0;
}

.slider2 {
  &__rating {
    @include text-9;
    margin-left: 3px;
    margin-top: -1px;
  }

  &__name {
    @include text-7;
  }

  &__qualify {
    @include text-12;
    line-height: calc(16 / 12);
    text-align: center;
    width: 99%;
    // height: 108px;
    // overflow: hidden;
    // position: relative;

    // &::before {
    //   content: "...";
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    // }
  }

  &__photo {
    width: 75px;
    height: 74px;
    margin: 3px 16px 0 0;
  }

  &__button {
    background-color: transparent;
    top: 6px;
    width: 18px;
    height: 18px;

    &_prev {
      background: url("../images/arrow_light.svg") center center no-repeat;
      background-size: contain;
      left: -3px;
    }

    &_next {
      background: url("../images/arrow_light.svg") center center no-repeat;
      background-size: contain;
      transform: rotate(180deg);
      right: -3px;
    }

    &::before {
      display: none;
    }
  }
}

.slider2-wrapper {
  padding: 0 12px;
}

.masseur-slide-wrapper {
  transition: $ease-main;
  box-sizing: border-box;
  min-height: 250px;
  // width: 85%;
  width: 250px;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 7px 5px 18px;
}

.masseur-slide-heading {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 3px 5px;
}

.rating-wrapper {
  margin-left: 3px;
  margin-right: 27px;

  img {
    width: 27px;
    height: 27px;
    margin-bottom: 1px;
  }
}

@include screen ("fonts-fix-start") {
  .masseur {
    &__title {
      font-size: 20px;
      line-height: calc(23 / 20);
        }

    &__text {
      font-size: 14px;
      line-height: calc(18 / 14);
    }
  }

  .slider2 {
    &__photo {
      margin-right: 5px;
    }

    &__rating {
      font-size: 16px;
      line-height: calc(18 / 16);
    }

    &__name {
      font-size: 20px;
      line-height: calc(23 / 20);
        }

    &__qualify {
      @include text-9;
      line-height: calc(18 / 14);
    }
  }
}

@include screen ("slider-fix") {
  .slider2-wrapper {
    width: 644px;
  }
}

@include screen ("fonts-fix-end") {
  .masseur {
    &__title {
      @include text-7;
    }

    &__text {
      @include text-13;
    }
  }

  .slider2 {
    &__photo {
      margin-right: 16px;
    }

    &__rating {
      @include text-9;
    }

    &__name {
      @include text-7;
    }

    &__qualify {
      @include text-12;
      line-height: calc(16 / 12);
    }
  }

  .slider2-wrapper {
    box-sizing: border-box;
    width: 100%;
  }
}

@include screen ("phablet") {
  .swiper-slide-next {
    .type-slide-wrapper {
      background-color: transparent;
      opacity: 0.5;
      transform: scale(0.7) translateX(-64px);

      .slider__text {
        transform: scale(1.1) translateX(0px);
      }
    }
  }
}

@include screen ("tablet") {
  .masseur {
    color: $color-some-text;
    background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0));

    &__title {
      color: $color-border;
      @include text-4;
      margin-bottom: 8px;
    }

    &__text {
      @include text-10;
      letter-spacing: -0.1px;
      margin-bottom: 24px;
    }

    // .slider2__button::before {
    //   width: 19px;
    //   height: 19px;
    //   border-color: $color-some-text;
    // }
  }

  .masseur-wrapper {
    padding: 22px 0 10px 0;
  }

  .slider2 {
    &__slide {
      // height: 280px;
      // width: 280px;
      padding: 0 30px;
      margin-left: 0;
    }

    &__rating {
      @include text-8;
      margin-left: 5px;
    }

    &__name {
      @include text-8;
      width: 100%;
      margin-top: 9px;
      margin-bottom: 0;
      text-align: center;
    }

    &__photo {
      width: 95px;
      height: 95px;
      margin-left: 0;
      margin-top: 6px;
    }

    &__qualify {
      line-height: calc(16.5 / 12);
      // height: 110px;
      // margin-bottom: 4px;
    }

    &__button {
      background-color: transparent;
      top: 2px;
      height: 27px;
      width: 27px;

      &_prev {
        background: url("../images/arrow.svg") center center no-repeat;
        background-size: contain;
        left: -6px;
      }

      &_next {
        background: url("../images/arrow.svg") center center no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        right: -5px;
      }

      &::before {
        display: none;
      }
    }
  }

  .masseur-slide-wrapper {
    height: 280px;
    width: 280px;
    align-items: center;
    border-radius: 10px;
    padding: 15px 20px 12px;
    transition: $ease-main;
  }

  .swiper-slide-active {
    .slider2__slide {
      margin-left: auto;
    }

    .slider2__name {
      color: $color-basic;
    }

    .masseur-slide-wrapper {
      transform: translateX(12px);
    }
  }

  .swiper-slide-next {
    .masseur-slide-wrapper {
      transform: translateX(-12px);
    }
  }

  // .swiper-slide-next {
  //   .slider2__slide {
  //     padding: 0 20px;
  //     margin-left: 0;
  //     margin-right: 24px;
  //   }
  // }

  .slider2-wrapper {
    padding: 0 40px;
  }

  .masseur-slide-heading {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 244px;
    margin: 2px 0 0;

    .rating-wrapper {
      margin: 9px 29px 0 9px;

      img {
        width: 36px;
        height: 36px;
      }
    }
  }
}

@include screen ("desktop") {
  .masseur {
    background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0));

    .slider2 {
      &__slide {
        padding: 0 30px;
        // height: auto; делаю слайды квадратными
      }

      &__rating {
        @include text-5;
      }

      &__name {
        @include text-5;
        width: 100%;
        margin-bottom: 12px;
        margin-left: 58px;
      }

      &__qualify {
        // @include text-9; а тут уменьшаю шрифт
        line-height: calc(19 / 14);
        margin-bottom: 7px;
        min-height: 133px;
        // overflow: visible;

        // &::before {
        //   display: none;
        // }
      }

      &__photo {
        width: 120px;
        height: 120px;
      }

      &__button {
        background-color: transparent;
        top: 9px;
        height: 34px;
        width: 27px;

        &_prev {
          background: url("../images/arrow.svg") center center no-repeat;
          background-size: contain;
          left: 0px;
        }

        &_next {
          background: url("../images/arrow.svg") center center no-repeat;
          background-size: contain;
          transform: rotate(180deg);
          right: 0px;
        }

        &::before {
          display: none;
        }
      }
    }

    &__title {
      @include heading-2;
      margin-bottom: 31px;
      margin-left: 61px;
    }

    &__text {
      @include text-4;
      margin-bottom: 49px;
      margin-left: 15px;
      letter-spacing: normal;
    }
  }

  .masseur-wrapper {
    padding: 40px 0 128px;
  }

  .masseur-slide-wrapper {
    min-height: 351px;
    width: 290px;
    padding: 18px 25px 12px;
  }

  .swiper-slide-active {
    .slider2__slide {
      margin-left: 0;
    }

    .masseur-slide-wrapper {
      transform: translateX(4px);
    }
  }

  .slider2-wrapper {
    padding: 0 38px 0 50px;

    .swiper-slide {
      transition: $ease-main;
      transform: scale(1) translateY(0) translateX(-3px);

      &-next {
        .masseur-slide-wrapper {
          transform: translateX(-49px);
        }
      }

      &-prev {
        .masseur-slide-wrapper {
          transform: translateX(51px);
        }
      }
    }
  }

  .masseur-slide-heading {
    align-self: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    .rating-wrapper {
      margin-left: 12px;
      margin-right: 34px;

      img {
        width: 45px;
        height: 45px;
      }
    }
  }
}

@include screen ("desktop-wide") {
  .masseur {
    background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0));

    .slider2 {
      max-width: 1347px;
      &__slide {
        padding: 0 30px;
      }

      &__rating {
        @include text-5;
      }

      &__name {
        @include text-5;
        width: 100%;
        margin-bottom: 12px;
        margin-left: 58px;
      }

      &__qualify {
        @include text-9;
        line-height: calc(19 / 14);
        margin-bottom: 7px;
      }

      &__photo {
        width: 120px;
        height: 120px;
      }

      &__button {
        background-color: transparent;
        top: 9px;
        height: 34px;
        width: 27px;

        &_prev {
          background: url("../images/arrow.svg") center center no-repeat;
          background-size: contain;
          left: 13px;
        }

        &_next {
          background: url("../images/arrow.svg") center center no-repeat;
          background-size: contain;
          transform: rotate(180deg);
          right: 15px;
        }

        &::before {
          display: none;
        }
      }
    }

    &__title {
      @include heading-2;
      margin-bottom: 31px;
      margin-left: 61px;
    }

    &__text {
      @include text-4;
      margin-bottom: 49px;
      margin-left: 15px;
      letter-spacing: normal;
    }
  }

  .masseur-wrapper {
    padding: 39px 0 126px;
  }

  .masseur-slide-wrapper {
    height: 351px;
    width: 351px;
    padding: 18px 25px 12px;
  }

  .swiper-slide-active {
    .masseur-slide-wrapper {
      transform: translateX(4px);
    }
  }

  .slider2-wrapper {
    padding: 0 38px;

    .swiper-slide {
      transition: $ease-main;
      transform: scale(1) translateY(0) translateX(-3px);

      &-next {
        .masseur-slide-wrapper {
          transform: translateX(-49px);
        }
      }

      &-prev {
        .masseur-slide-wrapper {
          transform: translateX(51px);
        }
      }
    }
  }

  .masseur-slide-heading {
    align-self: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    .rating-wrapper {
      margin-left: 12px;
      margin-right: 34px;

      img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
