extends ../../layouts/default

block head
  - var pageTitle = 'Welny — онлайн-заказ массажа на дом в Москве'
  - var pageDescription = 'Удобный способ заказа массажа на дом. Классический, спортивный, антицеллюлитный или лифмодренажный уходы - настоящая забота о своем теле. Закажите массажиста через сервис Welny на дом и получите качественный отдых без лишних временных и денежных затрат.'

block content
  +header-menu
  +header
  +advantages
  +type-slider
  +types
  +prices
  +masseur
  +reviews
  +faq
  +about-us
  +footer
