mixin type-slider()
  +b.type-slider&attributes(attributes)
    +ui-section-head
        .wrapper-title
          +e.H2.__title Типы массажа
        +slider(false, true)
          +slide
            .type-slide-wrapper
              +e.P.__text.__text_sport Спортивный
          +slide
            .type-slide-wrapper
              +e.P.__text.__text_classic Классический
          +slide
            .type-slide-wrapper
              +e.P.__text.__text_limfo Лимфодренажный
          +slide
            .type-slide-wrapper
              +e.P.__text.__text_limfo1 Лимфодренажный
          +slide
            .type-slide-wrapper
              +e.P.__text.__text_limfo2 Лимфодренажный
        .wrapper-question
          +e.H2.__question Имеете дело с высокими нагрузками?

