mixin type-slider()
  +b.SECTION.type-slider&attributes(attributes)
    +ui-section-head
      +b.order-now
        .price-wrapper
          +e.P.__text Только в этом месяце скидка на первый заказ
          +e.P.__discount 500 руб.
        +button.order-now__btn(href="https://welny.ru/app/#/booking/?event=Landing_Form_Top_Transition")
          p Заказать
    .slider-wrapper(id="types")
      .container
        .wrapper-title
          +e.H2.__title Типы массажа
        +slider(false, true)
          +slide(class="js-classic")
            .type-slide-wrapper.type-slide-wrapper_classic.js-classic
              +e.P.__text Классический
          +slide(class="js-sport")
            .type-slide-wrapper.type-slide-wrapper_sport.js-sport
              +e.P.__text Спортивный
          +slide(class="js-limfo")
            .type-slide-wrapper.type-slide-wrapper_limfo.js-limfo
              +e.P.__text Лимфодренажный
          +slide(class="js-anti")
            .type-slide-wrapper.type-slide-wrapper_anti.js-anti
              +e.P.__text Антицеллюлитный
          +slide(class="js-stress")
            .type-slide-wrapper.type-slide-wrapper_stress.js-stress
              +e.P.__text Антистрессовый
    .wrapper-question
      .container
        .wrapper-question-title.wrapper-question-title_sport.js-sport
          +e.H2.__question Имеете дело с высокими нагрузками?
        .wrapper-question-title.wrapper-question-title_anti.visually-hidden.js-anti
          +e.H2.__question Любите впечатлять?
        .wrapper-question-title.wrapper-question-title_limfo.visually-hidden.js-limfo
          +e.H2.__question Заботитесь о здоровье и красоте?
        .wrapper-question-title.wrapper-question-title_stress.visually-hidden.js-stress
          +e.H2.__question Устали от работы и мечтаете про отдых?
        .wrapper-question-title.wrapper-question-title_classic.visually-hidden.js-classic
          +e.H2.__question Высоко цените время?
            br
            | Некогда отдохнуть?


