.type-slider {
  display: block;

  &__title,
  &__question {
    @include text-7;
    padding-bottom: 25px;
    text-align: center;
  }

  &__question {
    padding-bottom: 0;
  }
}

.slider-wrapper {
  background: linear-gradient($color-fill-clear, $color-fill-semi 26%, $color-fill-semi);
}

.wrapper-question {
  background: transparent;
}

.wrapper-question-title {
  margin: 0 48px;
}

.order-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;

  &__text {
    font-size: 12.8px;
    line-height: calc(15 / 12.8);
    font-weight: 300;
    text-align: center;
    margin-bottom: 6px;
  }

  &__discount {
    @include text-small;
    position: relative;
    display: inline-block;
    // border: 2px solid $color-main;
    border-left: none;
    background: url("../images/border.svg") center center no-repeat;
    background-size: contain;
    padding: 5px 6px 4px 11px;
    margin-bottom: 9px;

    // &::before {
    //   @include pseudo;
    //   height: 12px;
    //   width: 12px;
    //   left: -10px;
    //   top: 0;
    //   border-top: 2px solid $color-main;
    //   border-right: 2px solid $color-main;
    //   transform: rotate(-135deg);
    // }
  }

  &__btn {
    @include text-9;
    min-height: 35px;
    min-width: 90px;
    padding: 6px 8px;
    background-color: $color-main;
    border: 2px solid $color-main;
    color: white;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    transition: $ease-main;

    &:hover {
      background-color: transparent;
      color: $color-arrows;
      opacity: 1;
    }
  }
}

.slider {
  // background-color: $color-fill-semi;
  border: none;
  margin-bottom: 19px;

  &__slide {
    background-color: transparent;
    padding: 0;
    min-height: 217px;
  }

  &__button {
    background-color: transparent;
    top: -17px;
    width: 30px;
    height: 30px;

    &_prev {
      background: url("../images/arrow_dark.svg") center center no-repeat;
      background-size: contain;
      left: 15px;
    }

    &_next {
      background: url("../images/arrow_dark.svg") center center no-repeat;
      background-size: contain;
      transform: rotate(180deg);
      right: 15px;
    }

    &::before {
      display: none;
    }
  }

  &__text {
    @include text-9;
    max-width: 150px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

.type-slide-wrapper {
  transition: $ease-main;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 197px;
  height: 197px;
  border-radius: 50px;
  margin: 0 auto;

  &_sport {
    background: url("../images/sport.png") top 5px center no-repeat, white;
    background-size: 155px;
  }

  &_classic {
    background: url("../images/classic.png") top 5px center no-repeat, white;
    background-size: 155px;
  }

  &_limfo {
    background: url("../images/limfo.png") top 5px center no-repeat, white;
    background-size: 155px;
  }

  &_limfo1 {
    background: url("../images/limfo.png") top 5px center no-repeat, white;
    background-size: 155px;
  }

  &_limfo2 {
    background: url("../images/limfo.png") top 5px center no-repeat, white;
    background-size: 155px;
  }
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include screen ("phablet") {
  .swiper-slide-next {
    .type-slide-wrapper {
      background-color: transparent;
      opacity: 0.5;
      transform: scale(0.7) translateX(-64px);

      .slider__text {
        transform: scale(1.1) translateX(0px);
      }
    }
  }
}

@include screen ("tablet") {
  .type-slider {
    &__title,
    &__question {
      @include text-4;
    }

    &__question {
      margin: 8px 0 0 5px;
    }
  }

  .wrapper-question {
    background: url("../images/dance_tab_2@.png") right 104px bottom no-repeat, $color-fill-semi;
    background-size: 115px 180px, cover;
  }

  .wrapper-question-title {
    min-height: 170px;
    padding: 61px 104px 0 68px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .wrapper-title {
    padding-bottom: 15px;
  }

  .order-now {
    margin: 0 63px 54px;

    &__text {
      @include text-9;
      margin-right: 10px;
    }

    &__discount {
      @include text-12;
      margin-top: 6px;
    }

    &__btn {
      @include text-7;
      padding: 13px 22px;
    }
  }

  .price-wrapper {
    flex-direction: row;
    margin-bottom: 9px;
  }

  .type-slide-wrapper {
    width: 228px;
    height: 228px;

    &_sport {
      background-size: 180px;
      background-position: top 5px left 21px;

      .slider__text {
        margin-left: 58px;
      }
    }

    &_classic {
      background-size: 180px;
      background-position: top 5px left 21px;
    }

    &_limfo {
      background-size: 180px;
      background-position: top 5px left 21px;
    }

    &_limfo1 {
      background-size: 180px;
      background-position: top 5px left 21px;
    }

    &_limfo2 {
      background-size: 180px;
      background-position: top 5px left 21px;
    }
  }

  .swiper-slide-next {
    .slider__slide {
      .type-slide-wrapper {
        transform: scale(0.7) translateX(-64px);

        .slider__text {
          transform: scale(1.1) translateX(-2px) translateY(2px);
        }
      }
    }
  }

  .swiper-slide-prev {
    .slider__slide {
      .type-slide-wrapper {
        transform: scale(0.7) translateX(64px);

        .slider__text {
          transform: scale(1.1) translateX(-6px) translateY(2px);
        }
      }
    }
  }

  .swiper-slide {
    .type-slide-wrapper {
      background-color: transparent;
      opacity: 0.5;
    }

    &-active {
      .type-slide-wrapper {
        opacity: 1;
        transform: scale(1);
        background-color: white;
      }
    }
  }

  .slider {
    margin: 0;

    &__button {
      background-color: transparent;
      top: 7px;
      width: 35px;
      height: 35px;

      &_prev {
        background: url("../images/arrow_dark.svg") center center no-repeat;
        background-size: contain;
        left: 35px;
      }

      &_next {
        background: url("../images/arrow_dark.svg") center center no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        right: 39px;
      }

      &::before {
        display: none;
      }
    }

    &__text {
      @include text-7;
      margin: 0 auto;
      padding-bottom: 19px;
      max-width: none;
    }
  }
}

@include screen ("desktop") {
  .type-slider {
    &__title {
      @include heading-2;
      margin-left: 0;
    }

    &__question {
      @include heading-5;
      line-height: calc(48 / 34);
      margin-left: 10px;
    }
  }

  .wrapper-title {
    padding-bottom: 29px;
  }

  .wrapper-question {
    background: url("../images/dance_desk_2@.png") right 128px bottom 3px no-repeat, url("../images/football_2@.png") left 127px bottom 3px no-repeat, $color-fill-semi;
    background-size: 206px 324px, 271px 286px, cover;
  }

  .wrapper-question-title {
    min-height: 314px;
    padding: 87px 389px 0;
  }

  .price-wrapper {
    margin-bottom: 11px;
  }

  .order-now {
    margin: 34px 55px 105px 55px;

    &__text {
      @include text-4;
      margin: 0 5px 3px 0;
    }

    &__discount {
      @include text-9;
      line-height: calc(12 / 14);
      margin-top: 12px;
      padding: 11px 13px 12px 23px;
    }

    &__btn {
      @include text-3;
      padding: 16px 23px;
    }
  }

  .type-slide-wrapper {
    height: 275px;
    width: 275px;
    background-size: 210px;
    background-position: top 14px left 33px;
  }

  .slider{
    &::before {
      position: absolute;
      content: "";
      width: 150px;
      height: 250px;
      background: #fdf3eb;
      top: 0;
      left: 0;
      z-index: 5;
    }

    &__text {
      @include text-4;
      text-align: center;
      margin: 0;
      padding-bottom: 14px;
      // margin-left: 65px;
      // margin-bottom: 14px;
    }

    &__button {
      background-color: transparent;
      top: 2px;
      width: 30px;
      height: 30px;

      &_prev {
        background: url("../images/arrow_dark.svg") center center no-repeat;
        background-size: contain;
        left: 170px;
      }

      &_next {
        background: url("../images/arrow_dark.svg") center center no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        right: 162px;
      }

      &::before {
        display: none;
      }
    }

    .swiper-slide-active {
      .type-slide-wrapper {
        opacity: 1 !important;
        transform: scale(1) translateX(0) !important;
        background-color: white !important;
      }

      .slider__text {
        margin-left: 0;
        transform: scale(1) !important;
      }
    }

    .swiper-slide {
      .type-slide-wrapper {
        background-color: transparent;
        transform: scale(0.43) translateY(-21px) translateX(330px);
      }

      .slider__text {
        transform: scale(1.2);
      }
    }

    .swiper-slide-next {
      z-index: 2;

      .type-slide-wrapper {
        transform: scale(0.7) translateX(-29px) translateY(-6px) !important;

        .slider__text {
          transform: scale(1.05) translateX(-5px) translateY(-5px) !important;
        }
      }
    }

    .swiper-slide-prev {
      z-index: 2;

      .type-slide-wrapper {
        transform: scale(0.7) translateX(30px) translateY(-5px) !important;

        .slider__text {
          transform: scale(1.1) translateX(1px) translateY(-5px) !important;
        }
      }
    }

    .swiper-slide-next ~ .swiper-slide {
      .type-slide-wrapper {
        background-color: transparent;
        transform: scale(0.43) translateY(-41px) translateX(-296px);

        .slider__text {
          transform: scale(1.15);
        }
      }
    }

    .swiper-slide-next ~ .swiper-slide ~ .swiper-slide {
      display: none;
    }
  }


  .slider-slide {
    z-index: 1;
  }

}

@include screen ("desktop-wide") {
  .type-slider {
    margin-top: 1px;
    &__title {
      @include heading-2;
      margin-left: 0;
    }

    &__question {
      @include heading-5;
      line-height: calc(48 / 34);
      margin-left: 10px;
    }
  }

  .wrapper-title {
    padding-bottom: 29px;
  }

  .wrapper-question {
    background: url("../images/dance_desk_2@.png") right 248px bottom 3px no-repeat, url("../images/football.png") left 247px bottom 3px no-repeat, $color-fill-semi;
    background-size: 206px 324px, 271px 286px, cover;
  }

  .wrapper-question-title {
    min-height: 314px;
    padding: 87px 509px 0;
  }

  .price-wrapper {
    margin-bottom: 11px;
  }

  .order-now {
    margin: 32px 55px 105px 55px;

    &__text {
      @include text-4;
      margin: 0 5px 3px 0;
    }

    &__discount {
      @include text-9;
      line-height: calc(12 / 14);
      margin-top: 12px;
      padding: 11px 13px 12px 23px;
    }

    &__btn {
      @include text-3;
      padding: 16px 23px;
    }
  }

  .type-slide-wrapper {
    height: 275px;
    width: 275px;
    background-size: 210px;
    background-position: top 14px left 33px;
  }

  .slider{
    &::before {
      position: absolute;
      content: "";
      width: 150px;
      height: 250px;
      background: #fdf3eb;
      top: 0;
      left: 0;
      z-index: 5;
    }

    &__text {
      @include text-4;
      text-align: center;
      margin: 0;
      padding-bottom: 14px;
      // margin-left: 65px;
      // margin-bottom: 14px;
    }

    &__button {
      background-color: transparent;
      top: 2px;
      width: 30px;
      height: 30px;

      &_prev {
        background: url("../images/arrow_dark.svg") center center no-repeat;
        background-size: contain;
        left: 170px;
      }

      &_next {
        background: url("../images/arrow_dark.svg") center center no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        right: 162px;
      }

      &::before {
        display: none;
      }
    }

    .swiper-slide-active {
      .type-slide-wrapper {
        opacity: 1 !important;
        transform: scale(1) translateX(0) !important;
        background-color: white !important;
      }

      .slider__text {
        margin-left: 0;
        transform: scale(1) !important;
      }
    }

    .swiper-slide {
      .type-slide-wrapper {
        background-color: transparent;
        transform: scale(0.43) translateY(-21px) translateX(330px);
      }

      .slider__text {
        transform: scale(1.2);
      }
    }

    .swiper-slide-next {
      z-index: 2;

      .type-slide-wrapper {
        transform: scale(0.7) translateX(-29px) translateY(-6px) !important;

        .slider__text {
          transform: scale(1.05) translateX(-5px) translateY(-5px) !important;
        }
      }
    }

    .swiper-slide-prev {
      z-index: 2;

      .type-slide-wrapper {
        transform: scale(0.7) translateX(30px) translateY(-5px) !important;

        .slider__text {
          transform: scale(1.1) translateX(1px) translateY(-5px) !important;
        }
      }
    }

    .swiper-slide-next ~ .swiper-slide {
      .type-slide-wrapper {
        background-color: transparent;
        transform: scale(0.43) translateY(-41px) translateX(-296px);

        .slider__text {
          transform: scale(1.15);
        }
      }
    }

    .swiper-slide-next ~ .swiper-slide ~ .swiper-slide {
      display: none;
    }
  }


  .slider-slide {
    z-index: 1;
  }
}