.type-slider {
  display: block;

  &__title,
  &__question {
    @include text-7;
    padding-bottom: 25px;
    text-align: center;
  }

  &__question {
    padding-bottom: 0;
  }
}

.wrapper-title {
  @include gradient-main;
}

.order-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;

  &__text {
    font-size: 12.8px;
    line-height: calc(15 / 12.8);
    font-weight: 300;
    text-align: center;
    margin-bottom: 6px;
  }

  &__discount {
    @include text-small;
    position: relative;
    display: inline-block;
    // border: 2px solid $color-main;
    border-left: none;
    background: url("../images/border.svg") center center no-repeat;
    background-size: contain;
    padding: 5px 6px 4px 11px;
    margin-bottom: 9px;

    // &::before {
    //   @include pseudo;
    //   height: 12px;
    //   width: 12px;
    //   left: -10px;
    //   top: 0;
    //   border-top: 2px solid $color-main;
    //   border-right: 2px solid $color-main;
    //   transform: rotate(-135deg);
    // }
  }

  &__btn {
    @include text-9;
    min-height: 35px;
    min-width: 90px;
    padding: 8px 10px;
    background-color: $color-main;
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
  }
}

.slider {
  border: none;
  margin-bottom: 20px;

  &__slide {
    background-color: $color-fill-semi;
    padding: 0;
    min-height: 217px;
  }

  &__button {
    background-color: transparent;
    top: -32px;

    &_prev {
      left: 17px;
    }

    &_next {
      right: 17px;
    }

    &::before {
      height: 22px;
      width: 22px;
    }
  }

  &__text {
    @include text-9;
    max-width: 150px;
    margin: 0 auto 13px;

  }
}

.type-slide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 197px;
  height: 197px;
  border-radius: 50px;
  margin: 0 auto;

  &_sport {
    background: url("../images/sport.png") top 5px center no-repeat, white;
    background-size: 155px;
  }

  &_classic {
    background: url("../images/classic.png") top 5px center no-repeat, white;
    background-size: 155px;
  }

  &_limfo {
    background: url("../images/limfo.png") top 5px center no-repeat, white;
    background-size: 155px;
  }

  &_limfo1 {
    background: url("../images/limfo.png") top 5px center no-repeat, white;
    background-size: 155px;
  }

  &_limfo2 {
    background: url("../images/limfo.png") top 5px center no-repeat, white;
    background-size: 155px;
  }
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include screen ("tablet") {
  .type-slider {
    &__title,
    &__question {
      @include text-4;
    }

    &__question {
      margin: 8px 0 0 5px;
    }
  }

  .wrapper-question {
    min-height: 170px;
    padding: 60px 104px 0 68px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url("../images/heavy_dance.png") right 104px bottom no-repeat, $color-fill-semi;
  }

  .wrapper-title {
    padding-bottom: 15px;
  }

  .order-now {
    margin: 0 63px 54px;

    &__text {
      @include text-9;
      margin-right: 10px;
    }

    &__discount {
      @include text-12;
      margin-top: 5px;
    }

    &__btn {
      @include text-7;
      padding: 15px 24px;
    }
  }

  .price-wrapper {
    flex-direction: row;
    margin-bottom: 9px;
  }

  .type-slide-wrapper {
    width: 228px;
    height: 228px;

    &_sport {
      background-size: 180px;
      background-position: top 5px left 21px;
    }

    &_classic {
      background-size: 180px;
      background-position: top 5px left 21px;
    }

    &_limfo {
      background-size: 180px;
      background-position: top 5px left 21px;
    }

    &_limfo1 {
      background-size: 180px;
      background-position: top 5px left 21px;
    }

    &_limfo2 {
      background-size: 180px;
      background-position: top 5px left 21px;
    }
  }

  .swiper-slide-next {
    .type-slide-wrapper {
      transform: scale(0.7) translateX(-64px);

      .slider__text {
        transform: scale(1.1) translateX(-25px);
      }
    }
  }

  .swiper-slide-prev {
    .type-slide-wrapper {
      transform: scale(0.7) translateX(64px);

      .slider__text {
        transform: scale(1.1) translateX(-12px);
      }
    }
  }


  .swiper-slide {
    .type-slide-wrapper {
      background-color: transparent;
      opacity: 0.5;
    }

    &-active {
      .type-slide-wrapper {
        opacity: 1;
        transform: scale(1);
        background-color: white;
      }
    }
  }

  .slider {
    margin: 0;

    &__button {
      top: 2px;

      &_next {
        right: 41px;
      }

      &_prev {
        left: 37px;
      }
    }

    &__text {
      @include text-7;
      margin-bottom: 19px;
      margin-left: 58px;
    }
  }
}

@include screen ("desktop-wide") {
  .type-slider {
    &__title,
    &__question {
    @include heading-5;
    }
  }

  .swiper-slide {
    .type-slide-wrapper {
      background-color: transparent;
      opacity: 0.5;
      transform: scale(0.43);
    }

    &-next,
    &-prev {
      .type-slide-wrapper {
        background-color: transparent;
        opacity: 0.5;
        transform: scale(0.7);
      }
    }

    &-active {
      .type-slide-wrapper {
        opacity: 1;
        transform: scale(1);
        background-color: white;
      }
    }
  }

}