mixin type-slider()
  +b.SECTION.type-slider&attributes(attributes)
    +ui-section-head
      +b.order-now
        .price-wrapper
          +e.P.__text Только в этом месяце скидка на первый заказ
          +e.P.__discount 1000 руб.
        +button.order-now__btn
          p Заказать
    .slider-wrapper
      .container
        .wrapper-title
          +e.H2.__title Типы массажа
        +slider(false, true)
          +slide
            .type-slide-wrapper.type-slide-wrapper_sport
              +e.P.__text Спортивный
          +slide
            .type-slide-wrapper.type-slide-wrapper_limfo
              +e.P.__text Лимфодренажный
          +slide
            .type-slide-wrapper.type-slide-wrapper_limfo
              +e.P.__text Лимфодренажный
          +slide
            .type-slide-wrapper.type-slide-wrapper_limfo
              +e.P.__text Лимфодренажный
          +slide
            .type-slide-wrapper.type-slide-wrapper_classic
              +e.P.__text Классический
    .wrapper-question
      .container
        .wrapper-question-title
          +e.H2.__question Имеете дело с высокими нагрузками?

