.prices {
  display: block;
  padding: 17px 0 29px;

  &__title {
    @include text-7;
    margin-bottom: 15px;
    text-align: center;
  }

  &__text {
    @include text-13;
    text-align: center;
    margin: 0 14px;

    &_bottom {
      margin: 0 19px;
    }
  }
}

.li-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 127px;
  height: 126px;
  border: 2px solid $color-main;
  border-radius: 50%;
  margin: 0 auto;
}

.prices-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 19px 19px 8px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 50%;

    &_discount {
      margin-top: 3px;
      text-align: center;
      color: white;

      .li-wrapper {
        background: $color-main;
      }
    }

    &_120 {
      margin-bottom: 5px;
    }
  }

  &__item-time {
    @include text-3;
    color: $color-main;
    margin-bottom: 3px;
  }

  &__item-text {
    @include text-7;
    line-height: calc(27 / 18);
    margin-left: 3px;
    vertical-align: middle;

    &_discount {
      @include text-10;
    }

    &_big {
      @include text-3;
    }

    &_logo {
      @include text-7;
      position: relative;
      top: 4px;
    }
  }
}

@include screen ("tablet") {
  .prices {
    padding: 39px 0 55px;

    &__title {
      @include text-4;
      margin-bottom: 26px;
      text-align: center;
    }

    &__text {
      @include text-9;
      text-align: center;
      margin: 0 98px;

      &_bottom {
        margin: 0 100px;
      }
    }
  }

  .prices-list {
    margin: 22px 100px 9px;

    &__item {
      width: auto;

      &_60,
      &_90,
      &_120 {
        .prices-list__item-text {
          line-height: calc(34 / 18);
        }

        .prices-list__item-time {
          margin-top: 5px;
        }
      }
    }

    &__item-text_big {
      position: relative;
      top: -5px;
    }
  }
}

@include screen ("desktop-wide") {
  .prices {
    padding: 86px 0 88px;

    &__title {
      @include heading-2;
      margin-bottom: 55px;
    }

    &__text {
      @include text-4;
      margin: 0 256px;
    }
  }

  .prices-list {
    margin: 40px 256px;

    &__item-time {
      @include heading-1;
    }

    &__item-text {
      @include text-3;

      &_big {
        @include heading-1;
      }

      &_discount {
        @include text-6;
      }

      &_logo {
        @include text-1;
      }
    }
  }

  .li-wrapper {
    height: 200px;
    width: 200px;
  }
}
