.prices {
  display: block;

  &__title {
    color: $color-basic;
    @include text-7;
    margin-bottom: 15px;
    text-align: center;
  }

  &__text {
    color: $color-basic;
    @include text-13;
    text-align: center;
    margin: 0 14px;

    &_bottom {
      margin: 0 19px;
    }
  }
}

.prices-wrapper {
  padding: 17px 0 29px;
}

.li-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 127px;
  height: 126px;
  border: 1px solid $color-main;
  border-radius: 50%;
  margin: 0 auto;
}

.prices-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 18px auto 10px;
  width: 282px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;
    width: 50%;

    &_discount {
      margin-top: 3px;
      text-align: center;
      color: white;

      .li-wrapper {
        background: $color-main;
      }
    }

    &_120 {
      margin-bottom: 5px;
    }
  }

  &__item-time {
    @include text-3;
    color: $color-orange;
    margin-bottom: 3px;
  }

  &__item-text {
    opacity: 0.8;
    @include text-7;
    line-height: calc(27 / 18);
    margin-left: 3px;
    vertical-align: middle;

    &_discount {
      opacity: 1;
      @include text-10;
    }

    &_big {
      opacity: 1;
      @include text-3;
    }

    &_logo {
      opacity: 1;
      @include text-7;
      position: relative;
      top: 4px;
    }
  }
}

@include screen ("fonts-fix-start") {
  .prices {
    &__title {
      font-size: 20px;
      line-height: calc(23 / 20);
    }

    &__text {
      font-size: 14px;
      line-height: calc(18 / 14);
    }
  }

  .prices-list {
    &__item-time {
      @include text-2;
    }

    &__item-text {
      font-size: 20px;
      line-height: calc(29 / 20);

      &_discount {
        font-size: 16px;
        line-height: calc(18 / 16);
      }

      &_big {
        @include text-2;
      }

      &_logo {
        font-size: 20px;
        line-height: calc(23 / 20);
      }
    }
  }
}

// @include screen ("fonts-fix-end") {
//   .prices {
//     &__title {
//       @include text-7;
//     }

//     &__text {
//       @include text-13;
//     }
//   }

//   .prices-list {
//     &__item-time {
//       @include text-3;
//     }

//     &__item-text {
//       @include text-7;

//       &_discount {
//         @include text-10;
//       }

//       &_big {
//         @include text-3;
//       }

//       &_logo {
//         @include text-7;
//       }
//     }
//   }
// }


@include screen ("tablet") {
  .prices {
    &__title {
      color: black;
      @include text-4;
      margin-bottom: 26px;
      text-align: center;
    }

    &__text {
      color: black;
      @include text-9;
      text-align: center;
      margin: 0 98px;

      &_bottom {
        margin: 0 100px;
      }
    }
  }

  .prices-wrapper {
    padding: 8px 0 57px;
  }

  .prices-list {
    margin: 22px auto 9px;
    width: 568px;

    &__item {
      width: auto;

      &_60,
      &_90,
      &_120 {
        .prices-list__item-text {
          line-height: calc(34 / 18);
          color: $color-basic;
        }

        .prices-list__item-time {
          margin-top: 5px;
        }
      }
    }

    &__item-text_discount {
      font-weight: 300;
    }

    &__item-text_big {
      position: relative;
      top: -5px;
    }
  }
}

@include screen ("desktop") {
  .prices {
    &__title {
      color: $color-basic;
      @include heading-2;
      margin-bottom: 42px;
      margin-left: 8px;
    }

    &__text {
      color: $color-basic;
      @include text-4;
      line-height: calc(31 / 24);
      margin: 0 136px;
    }
  }

  .prices-wrapper {
    padding: 42px 0 119px;
    margin-left: 0;
  }

  .li-wrapper {
    height: 200px;
    width: 200px;
  }

  .prices-list {
    width: 927px;
    margin: 45px auto 24px;

    &_90 {
      .prices-list__item-time {
        margin-right: 3px;
      }
    }

    &_120 {
      .prices-list__item-time {
        margin-left: 5px;
        margin-top: 9px;
      }
    }

    .li-wrapper {
      .prices-list__item-time {
        @include heading-1;
        margin-top: 11px;
        margin-bottom: 0;
      }
    }

    &__item-text {
      @include text-3;
      margin-top: -13px;
      vertical-align: bottom;

      &_big {
        @include heading-1;
        line-height: calc(83 / 64);
        top: 7px;
      }

      &_discount {
        @include text-6;
      }

      &_logo {
        @include text-1;
      }
    }

    &__item {
      &_60,
      &_90,
      &_120 {
        .prices-list__item-text {
          line-height: calc(48 / 28);
        }
      }
    }
  }
}

@include screen ("desktop-wide") {
  .prices {
    &__title {
      @include heading-2;
      margin-bottom: 42px;
      margin-left: 8px;
    }

    &__text {
      @include text-4;
      line-height: calc(31 / 24);
      margin: 0 256px;
    }
  }

  .prices-wrapper {
    padding: 42px 0 119px;
    margin-left: 0;
  }

  .li-wrapper {
    height: 200px;
    width: 200px;
  }

  .prices-list {
    width: 927px;
    margin: 45px auto 24px;

    .li-wrapper {
      .prices-list__item-time {
        @include heading-1;
        margin-top: 11px;
        margin-bottom: 0;
      }
    }

    &__item-text {
      @include text-3;
      margin-top: -13px;
      vertical-align: bottom;

      &_big {
        @include heading-1;
        line-height: calc(83 / 64);
        top: 7px;
      }

      &_discount {
        @include text-6;
      }

      &_logo {
        @include text-1;
      }
    }

    &__item {
      &_60,
      &_90,
      &_120 {
        .prices-list__item-text {
          line-height: calc(48 / 28);
        }
      }

      &_90 {
        .prices-list__item-time {
          margin-right: 3px;
        }
      }

      &_120 {
        .prices-list__item-time {
          margin-left: 5px;
          margin-top: 9px;
        }
      }

    }
  }
}
