.reviews {
  display: block;
  background-image: linear-gradient(rgba(253, 240, 230, 0.3), $color-fill-clear);

  &__title {
    @include text-7;
    text-align: center;
    padding: 13px 0 18px;
    margin: 0 31px;
    border-top: 1px solid $color-border;
  }
}

.reviews-title-wrapper {
  padding: 3px 0 0;
}

// .link-wrapper {
//   position: relative;
//   height: 1px;
// }

.slider3 {
  &__item {
    transition: $ease-main;
    padding: 0 16px;
    width: 85%;
    margin: 0 auto;
  }

  &__name {
    @include text-12;
  }

  &__photo {
    height: 45px;
    width: 45px;
    margin-right: 12px;
    margin-left: 17px;
  }

  &__date {
    @include text-13;
    color: $color-border;
    opacity: 0.5;
  }

  &__text {
    @include text-13;
    line-height: calc(14 / 10);
    text-align: justify;
  }

  &__link {
    @include text-13;
    color: #30abd2;
    display: block;
    transition: $ease-main;
    margin-bottom: 1px;

    &:hover {
      opacity: 0.5;
    }
  }

  &__button {
    background-color: transparent;
    top: 45px;
    width: 18px;
    height: 18px;

    &_prev {
      background: url("../images/arrow_light.svg") center center no-repeat;
      background-size: contain;
      left: -4px;
    }

    &_next {
      background: url("../images/arrow_light.svg") center center no-repeat;
      background-size: contain;
      transform: rotate(180deg);
      right: -3px;
    }

    &::before {
      display: none;
    }
  }
}

.author-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 14px;
  margin-bottom: 3px;
}

.slider3-wrapper {
  padding: 0 14px;
  margin-bottom: 27px;
}

@include screen ("tablet") {
  .reviews {
    display: block;
    background: transparent;

    &__title {
      @include text-4;
      color: $color-border;
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  .reviews-wrapper {
    padding-bottom: 30px;
  }

  .reviews-title-wrapper {
    padding: 48px 0 30px;
  }

  .link-wrapper {
    position: relative;
    height: 20px;
  }

  .slider3-wrapper {
    margin: 0;
  }

  .slider3 {
    &__slide {
      padding-top: 21px;
    }

    &__item {
      margin: 0;
      padding: 0 70px 0 0;
      min-height: 151px;
      box-sizing: border-box;
      width: calc(100% - 246px);
      margin-left: auto;
    }

    &__name {
      @include text-8;
      margin-right: 42px;
    }

    &__photo {
      position: absolute;
      left: 53px;
      top: 12px;
      height: 151px;
      width: 151px;
    }

    &__date {
      @include text-8;
    }

    &__text {
      @include text-9;
      line-height: calc(19 / 14);
      text-align: start;
    }

    &__link {
      display: block;
      position: relative;
      @include text-9;
      line-height: calc(22 / 14);
      float: none;
      clear: both;
      margin-top: 5px;
    }

    &__button {
      background-color: transparent;
      height: 31px;
      width: 31px;

      &_prev {
        background: url("../images/arrow.svg") center center no-repeat;
        background-size: contain;
        left: 15px;
        top: 1px;
      }

      &_next {
        background: url("../images/arrow.svg") center center no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        top: 14px;
        right: 17px;
      }

      &::before {
        display: none;
      }
    }
  }

  .author-wrapper {
    justify-content: flex-start;
    margin-bottom: 14px;
    padding-left: 0;
  }
}

@include screen ("desktop") {
  .reviews {
    display: block;
    background: transparent;

    &__title {
      @include heading-2;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  .reviews-title-wrapper {
    padding: 0 0 52px;
  }

  .link-wrapper {
    position: relative;
    height: 20px;
  }

  .slider3 {
    &__item {
      padding: 44px 93px 0 460px;
      min-height: 287px;
      width: auto;
      margin-left: 0;
    }

    &__name {
      @include text-4;
      margin-right: 75px;
    }

    &__photo {
      position: absolute;
      left: 84px;
      top: -1px;
      height: 287px;
      width: 287px;
    }

    &__date {
      @include text-4;
    }

    &__text {
      @include text-7;
      line-height: calc(24 / 18);
      text-align: start;
    }

    &__link {
      @include text-7;
    }

    &__button {
      background-color: transparent;
      top: -25px;
      height: 62px;
      width: 62px;

      &_prev {
        background: url("../images/arrow.svg") center center no-repeat;
        background-size: contain;
        left: 6px;
      }

      &_next {
        background: url("../images/arrow.svg") center center no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        right: 6px;
      }

      &::before {
        display: none;
      }
    }
  }

  .slider3-wrapper {
    padding: 0 20px 0;
  }

  .author-wrapper {
    justify-content: flex-start;
    margin-bottom: 27px;
    margin-top: 0;
  }
}

@include screen ("desktop-wide") {
  .reviews {
    display: block;
    background: transparent;

    &__title {
      @include heading-2;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  .reviews-title-wrapper {
    padding: 0 0 55px;
  }

  .link-wrapper {
    position: relative;
    height: 20px;
  }

  .slider3 {
    &__item {
      padding: 44px 93px 0 60px;
      min-height: 287px;
      width: 875px;
      margin-left: auto;
    }

    &__name {
      @include text-4;
      margin-right: 75px;
    }

    &__photo {
      position: absolute;
      left: 84px;
      top: -1px;
      height: 287px;
      width: 287px;
    }

    &__date {
      @include text-4;
    }

    &__text {
      @include text-7;
      line-height: calc(24 / 18);
      text-align: start;
    }

    &__link {
      @include text-7;
    }

    &__button {
      background-color: transparent;
      top: -25px;
      height: 62px;
      width: 62px;

      &_prev {
        background: url("../images/arrow.svg") center center no-repeat;
        background-size: contain;
        left: 6px;
      }

      &_next {
        background: url("../images/arrow.svg") center center no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        right: 6px;
      }

      &::before {
        display: none;
      }
    }
  }

  .slider3-wrapper {
    padding: 0 100px 0;
  }

  .author-wrapper {
    justify-content: flex-start;
    margin-bottom: 27px;
    margin-top: 0;
  }
}

