mixin reviews()
  +b.SECTION.reviews(id="reviews")&attributes(attributes)
    +ui-section-head
      .reviews-wrapper
        .reviews-title-wrapper
          +e.H2.__title Отзывы пользователей
        .slider3-wrapper
          +slider3(false, true)
            +slide
              +e.__item
                .author-wrapper
                  +e.P.__name Ева
                  +e.IMG.__photo(src="./assets/images/eva_desk.jpg" alt="Ева фото")
                  +e.P.__date октябрь 2018
                +e.P.__text Совершенно другое дело вызвать к себе специалиста.... и после часового релакса ты остаешься в своем уютной обстановке в мягенькой удобной одежде, продолжаешь кушать вкусняшки и заваливаешься спать.
                +e.A.__link(href="https://www.instagram.com/p/BjfgF5-FjM1/?taken-by=eva__palij", target="_blank") Отзыв в Instagram
            +slide
              +e.__item
                .author-wrapper
                  +e.P.__name Анна
                  +e.IMG.__photo(src="./assets/images/review_anna.png" alt="Анна фото")
                  +e.P.__date август 2018
                +e.P.__text Согласитесь, всегда же здорово совместить домашний привычный уют и spa-салон у себя дома. Особенно, когда после массажа ты расслаблен и не нужно никуда ехать, толкаться в пробках. Это идеальное решение для таких занятых людей, как я.
                +e.A.__link(href="https://www.instagram.com/p/Bjp-ywXHn6e/?taken-by=lifelikestyle", target="_blank") Отзыв в Instagram
            +slide
              +e.__item
                .author-wrapper
                  +e.P.__name Матвей Зубалевич
                  +e.IMG.__photo(src="./assets/images/review_matvei.png" alt="Матвей фото")
                  +e.P.__date май 2018
                +e.P.__text В ритме нашего города тяжело бывает выделить время на отдых и на самого себя. Собрать все свои мысли воедино мне помогает Welny. Заказываю массаж прямо к себе домой, всегда приезжают очень опытные мастера, поэтому я не отвлекаюсь на лишнее.
            +slide
              +e.__item
                .author-wrapper
                  +e.P.__name Анастасия Горбатенкова
                  +e.IMG.__photo(src="./assets/images/review_nastya.png" alt="Анастасия фото")
                  +e.P.__date март 2018
                +e.P.__text Я заказывала массажиста через это приложение, мне все очень понравилось. Никаких опозданий, все вовремя. После массажа сон был прекрасный.
            +slide
              +e.__item
                .author-wrapper
                  +e.P.__name Алексей Шкрабов
                  +e.IMG.__photo(src="./assets/images/review_alex.jpg" alt="Алексей фото")
                  +e.P.__date декабрь 2017
                +e.P.__text Потрясающий сервис! Недавно вместе с девушкой попробовали парный массаж, ей очень понравился такой подарок. Спасибо!
