mixin types()
  +b.SECTION.types&attributes(attributes)
    +ui-section-head
      //- .wrapper-title
        +e.H2.__question Имеете дело с высокими нагрузками?
      +b.UL.answers
        +e.LI.__item.__item_energy
          +e.P.__text Восстановит энергию и даст силы для новых рекордов
        +e.LI.__item.__item_relax
          +e.P.__text Снимет напряжение и расслабит тело
        +e.LI.__item.__item_plan
          +e.P.__text Удобно планировать и совмещать с тренировками
      +b.order
        +e.H2.__title Спортивный SPA Welny
        +e.A.__button
          p Заказать