.types {
  display: block;

  &__question {
    @include text-7;
    margin-bottom: 21px;
    text-align: center;
  }
}

.answers {
  margin: 22px 25px 0;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include text-12;
    line-height: calc(17 / 12);
    padding-left: 116px;
    min-height: 101px;
    position: relative;
    margin-bottom: 10px;

    &::before {
      @include pseudo;
      width: 100px;
      height: 104px;
      left: 0;
    }

    &_energy {
      &::before {
        background: url("../images/answer_img1_mob.png") left center no-repeat;
      }
    }

    &_relax {
      &::before {
        background: url("../images/answer_img2_mob.png") left center no-repeat;
      }
    }

    &_plan {
      padding-left: 107px;
      margin-bottom: 7px;

      &::before {
        background: url("../images/answer_img3_mob.png") left center no-repeat;
      }

      .answers__text {
        margin-top: 10px;
        margin-bottom: auto;
      }
    }
  }
}

.order {
  padding: 38px 47px;
  min-height: 258px;
  background: url("../images/order-now_mobile.png") top 1px center no-repeat, linear-gradient(transparent 20px, $color-brown 20px);
  // background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  &__title {
    @include text-7;
    color: white;
    text-align: right;
    max-width: 109px;
  }

  &__button {
    @include text-12;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 88px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 white;
    text-align: center;
    border: 2px solid white;

    &:hover {
      background-color: transparent;
      opacity: 1;
      color: white;
    }
  }
}

@include screen ("tablet") {
  .types__question {
    @include text-4;
  }

  .answers {
    margin: 68px 86px 21px;
    display: flex;
    justify-content: space-between;

    &__item {
      @include text-7;
      line-height: calc(24 / 18);
      justify-content: flex-start;
      text-align: center;
      width: 150px;
      padding: 0;
      padding-top: 166px;

    &::before {
      @include pseudo;
      width: 150px;
      height: 157px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      }

      &_energy {
        &::before {
          background: url("../images/answer_img1_tab.png") top center no-repeat;
        }
      }

      &_relax {
        &::before {
          background: url("../images/answer_img2_tab.png") top center no-repeat;
        }
      }

      &_plan {
        .answers__text {
          margin-top: 0;
        }

        &::before {
          background: url("../images/answer_img3_tab.png") top center no-repeat;
        }
      }
    }
  }

  .order {
    padding: 10px 112px;
    flex-direction: column;
    justify-content: center;
    background: url("../images/order-now_tab.png") top -3px left no-repeat, linear-gradient(transparent 20px, $color-brown 20px);

    &__title {
      @include text-4;
      min-width: 159px;
      text-align: center;
      margin: 32px 0 21px;
    }

    &__button {
      @include text-7;
      width: 119px;
      height: 48px;
      margin-right: 22px;
    }
  }
}

@include screen ("desktop-wide") {
  .types__question {
    @include heading-5;
  }

  .answers {
    margin: 86px 233px 60px;

    &__item {
      @include text-2;
      line-height: calc(39 / 30);
      text-align: center;
      width: 260px;
      padding: 0;
      padding-top: 266px;

    &::before {
      @include pseudo;
      width: 260px;
      height: 270px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      }

      &_energy {
        &::before {
          background: url("../images/answer_img1_desk.png") top center no-repeat;
        }
      }

      &_relax {
        order:2;

        &::before {
          background: url("../images/answer_img3_desk.png") top center no-repeat;
        }
      }

      &_plan {
        order:1;

        &::before {
          background: url("../images/answer_img2_desk.png") top center no-repeat;
        }
      }
    }
  }

  .order {
    padding: 143px 198px 133px;
    min-height: 213px;
    background: url("../images/order-now_desk.png") top left -6px no-repeat, linear-gradient(transparent 46px, $color-brown 46px);
    background-size: 59%;

    &__title {
      @include heading-2;
      line-height: calc(63 / 48);
      min-width: 300px;
      text-align: center;
      margin-bottom: 25px;
    }

    &__button {
      @include text-3;
      width: 164px;
      height: 65px;
      margin-right: 61px;
      border-radius: 10px;
    }
  }
}