.types {
  display: block;
  position: relative;

  &__question {
    @include text-7;
    margin-bottom: 21px;
    text-align: center;
  }
}

.answers {
  margin: 22px 25px 0;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include text-12;
    line-height: calc(17 / 12);
    padding-left: 116px;
    min-height: 101px;
    position: relative;
    margin-bottom: 10px;

    &::before {
      @include pseudo;
      width: 100px;
      height: 104px;
      left: 0;
    }

    &_energy {
      &::before {
        background: url("../images/answer_img1_mob.png") left center no-repeat;
      }
    }

    &_relax {
      &::before {
        background: url("../images/answer_img2_mob.png") left center no-repeat;
      }
    }

    &_plan {
      padding-left: 107px;
      margin-bottom: 7px;

      &::before {
        background: url("../images/answer_img3_mob.png") left center no-repeat;
      }

      .answers__text {
        margin-top: 10px;
        margin-bottom: auto;
      }
    }
  }
}

.order-wrapper {
  background: linear-gradient(transparent 20px, $color-brown 20px);
}

.text-wrapper {
  display: flex;
  flex-direction: row;
}

.order {
  padding: 0 0 38px 0;
  min-height: 258px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  &__title {
    @include text-7;
    color: white;
    text-align: right;
    max-width: 109px;
    margin-right: 27px;
  }

  &__button {
    @include text-12;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 86px;
    margin-top: 6px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 white;
    text-align: center;
    border: 2px solid white;

    &:hover {
      background-color: transparent;
      opacity: 1;
      color: white;
    }
  }
}

.img-wrapper {
  position: static;
  padding-bottom: 36px;

  img {
    // min-height: 270px;
    width: 100%;
    height: 100%;
  }
}

@include screen ("tablet") {
  .types__question {
    @include text-4;
  }

  .answers {
    margin: 68px 82px 20px;
    display: flex;
    justify-content: space-between;

    &__item {
      @include text-7;
      line-height: calc(24 / 18);
      justify-content: flex-start;
      text-align: center;
      width: 26%;
      padding: 0;
      padding-top: 166px;
      color: black;

    &::before {
      @include pseudo;
      width: 150px;
      height: 157px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      }

      &_energy {
        &::before {
          background: url("../images/answer_img1_tab.png") top center no-repeat;
        }
      }

      &_relax {
        &::before {
          background: url("../images/answer_img2_tab.png") top center no-repeat;
        }
      }

      &_plan {
        .answers__text {
          margin-top: 0;
        }

        &::before {
          background: url("../images/answer_img3_tab.png") top center no-repeat;
        }
      }
    }
  }

  .order-wrapper {
    background: linear-gradient(transparent 20px, $color-brown 20px);
  }

  .text-wrapper {
    width: 50.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .order {
    padding: 0;
    margin-left: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 278px;

    &__title {
      @include text-4;
      line-height: calc(31 / 24);
      min-width: 159px;
      text-align: center;
      margin: 33px 0 9px;
    }

    &__button {
      @include text-7;
      width: 119px;
      height: 48px;
    }
  }

  .img-wrapper {
    // bottom: -26px;
    // left: 0;
    width: 48%;

    img {
      width: 448px;
      height: 303px;
    }
  }
}

@include screen ("desktop-wide") {
  .types__question {
    @include heading-5;
  }

  .answers {
    margin: 86px 233px 60px;

    &__item {
      @include text-2;
      line-height: calc(39 / 30);
      text-align: center;
      width: 260px;
      padding: 0;
      padding-top: 266px;
      color: $color-basic;

    &::before {
      @include pseudo;
      width: 260px;
      height: 270px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      }

      &_energy {
        &::before {
          background: url("../images/answer_img1_desk.png") top center no-repeat;
        }
      }

      &_relax {
        order:2;

        &::before {
          background: url("../images/answer_img2_desk.png") top center no-repeat;
        }
      }

      &_plan {
        order:1;

        &::before {
          background: url("../images/answer_img3_desk.png") top center no-repeat;
        }
      }
    }
  }

  .order-wrapper {
    background: linear-gradient(transparent 46px, $color-brown 46px);
    background-size: cover;
  }

  .order {
    padding: 143px 0 133px 198px;
    min-height: 213px;
    background: transparent;

    &__title {
      @include heading-2;
      line-height: calc(63 / 48);
      min-width: 300px;
      text-align: center;
      margin-bottom: 25px;
    }

    &__button {
      @include text-3;
      width: 164px;
      height: 65px;
      margin-right: 61px;
      border-radius: 10px;
    }
  }

  .img-wrapper {
    bottom: -40px;
    left: 0;

    img {
      width: 838px;
      height: 565px;
    }
  }
}