mixin types()
  +b.SECTION.types&attributes(attributes)
    +ui-section-head
      //- .wrapper-title
        +e.H2.__question Имеете дело с высокими нагрузками?
      +b.UL.answers.answers_sport.js-sport
        +e.LI.__item.__item_energy
          +e.P.__text Восстановит энергию и даст силы для новых рекордов
        +e.LI.__item.__item_relax
          +e.P.__text Снимет напряжение и расслабит тело
        +e.LI.__item.__item_plan
          +e.P.__text Удобно планировать и совмещать с тренировками
      +b.UL.answers.answers_anti.visually-hidden.js-anti
        +e.LI.__item.__item_care
          +e.P.__text Прекрасный уход для тела и души
        +e.LI.__item.__item_skin
          +e.P.__text Улучшает состояние кожи
        +e.LI.__item.__item_special
          +e.P.__text Специальное предложение на подписку
      +b.UL.answers.answers_limfo.visually-hidden.js-limfo
        +e.LI.__item.__item_skin
          +e.P.__text Улучшает состояние кожи
        +e.LI.__item.__item_problem
          +e.P.__text Воздействует на проблемные участки фигуры
        +e.LI.__item.__item_special
          +e.P.__text Специальное предложение на подписку
      +b.UL.answers.answers_stress.visually-hidden.js-stress
        +e.LI.__item.__item_idea
          +e.P.__text Повысит работоспособность
        +e.LI.__item.__item_head
          +e.P.__text Расслабит тело
        +e.LI.__item.__item_towel
          +e.P.__text Снимет нервное напряжение
      +b.UL.answers.answers_classic.visually-hidden.js-classic
        +e.LI.__item.__item_refresh
          +e.P.__text Восстановит силы и избавит от усталости
        +e.LI.__item.__item_stress
          +e.P.__text Разгрузит мысли и снимет стресс
        +e.LI.__item.__item_place
          +e.P.__text Когда и где вам удобно, не нужно ждать записи
        +e.LI.__item.__item_easy
          +e.P.__text Не нужно стоять в пробках или ехать на метро
    .order-wrapper
      .container
        +b.order.order_sport.js-sport
          .img-wrapper.js-sport
            img(src="./assets/images/order-now_desk.png", alt="заказать спортивный массаж")
          .text-wrapper
            +e.H2.__title Спортивный SPA Welny
            +e.A.__button(href="https://welny.ru/app/#/booking/?event=Landing_Sport_Transition")
              p Заказать
        +b.order.order_anti.visually-hidden.js-anti
          .img-wrapper.visually-hidden.js-anti
            img(src="./assets/images/3-call-to-act.png", alt="заказать антицеллюлитный массаж")
          .text-wrapper
            +e.H2.__title Антицеллюлитный SPA Welny
            +e.A.__button(href="https://welny.ru/app/#/booking/?event=Landing_Cellulite_Transition")
              p Заказать
        +b.order.order_limfo.visually-hidden.js-limfo
          .img-wrapper.visually-hidden.js-limfo
            img(src="./assets/images/4-call-to-act.png", alt="заказать лимфодренажный массаж")
          .text-wrapper
            +e.H2.__title Лимфодренажный SPA Welny
            +e.A.__button(href="https://welny.ru/app/#/booking/?event=Landing_Limfo_Transition")
              p Заказать
        +b.order.order_limfo.visually-hidden.js-stress
          .img-wrapper.visually-hidden.js-stress
            img(src="./assets/images/5-call-to-act.png", alt="заказать антистрессовый массаж")
          .text-wrapper
            +e.H2.__title Антистрессовый SPA Welny
            +e.A.__button(href="https://welny.ru/app/#/booking/?event=Landing_Stress_Transition")
              p Заказать
        +b.order.order_classic.visually-hidden.js-classic
          .img-wrapper.visually-hidden.js-classic
            img(src="./assets/images/1-classic-call-to-act.png", alt="заказать классический массаж")
          .text-wrapper
            +e.H2.__title Классический SPA Welny
            +e.A.__button(href="https://welny.ru/app/#/booking/?event=Landing_Classic_Transition")
              p Заказать
