.advantages {
  display: block;
}

.advantages-content {
  padding: 18px 27px 22px 22px;

  &__title {
    @include text-7;
    margin-bottom: 26px;
    text-align: center;
  }

  &-list {
    padding-bottom: 10px;

    &__item {
      padding-left: 83px;
      margin-bottom: 17px;
      position: relative;
      min-height: 61px;

      &::before {
        @include pseudo;
        width: 63px;
        height: 56px;
        left: 0;
        background-size: contain;
      }

      &_comfort {
        &::before {
          top: 0;
          left: -1px;
          background: url("../images/relax_img.svg") center center no-repeat;
        }
      }

      &_pro {
        &::before {
          top: -1px;
          height: 63px;
          background: url("../images/connection_img.svg") top 10px center no-repeat;
        }
      }

      &_cosy {
        &::before {
          top: -2px;
          left: -3px;
          height: 63px;
          background: url("../images/order_img.svg") top 3px center no-repeat;
        }
      }
    }

    &__item-title {
      @include text-9;
      margin-bottom: 6px;
    }

    &__item-text {
      @include text-13;
      line-height: calc(13 / 10);
    }
  }

  &-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 16px;
    margin: 0 8px;
    border-bottom: 3px solid $color-border;
    min-width: 258px;

    &__item {
      padding: 0;
      width: 77px;
      height: 23px;
      margin: 0 20px;
      transition: $ease-main;

      &:hover {
        opacity: 0.5;
      }

    }
  }
}

@include screen ("tablet") {
  .advantages-content {
    padding: 40px 64px 22px;

    &__title {
      @include text-4;
      margin-bottom: 41px;
      margin-left: 11px;
      color: $color-border;
    }

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 10px;

      &__item {
        padding-left: 0;
        padding-top: 85px;
        margin-bottom: 23px;
        // max-width: 192px;
        text-align: center;
        width: 30%;

        &::before {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background-size: contain;
        }

        &_comfort {
          &::before {
            width: 70px;
            height: 75px;
          }
        }

        &_pro {
          margin-left: 7px;

          &::before {
            top: -7px;
            width: 86px;
            height: 81px;
          }
        }

        &_cosy {
          &::before {
            top: -5px;
            width: 78px;
            height: 76px;
          }
        }
      }

      &__item-title {
        @include text-7;
        margin-bottom: 8px;
      }

      &__item-text {
        @include text-9;
        line-height: calc(19 / 14);
      }
    }

    &-links {
      padding-bottom: 32px;
      padding-right: 2px;
      justify-content: center;
      margin: 0;

      &__item {
        margin: 0 31px;
        width: 126px;
        height: 37px;
      }
    }
  }
}

@include screen ("desktop") {
  .advantages-content {
    padding: 71px 22px 33px 21px;

    &__title {
      @include heading-2;
      margin-bottom: 85px;
      margin-left: 0;
    }

    &-list {
      padding: 0 43px 0 62px;

      &__item {
        padding-left: 0;
        padding-top: 120px;
        margin-bottom: 68px;
        max-width: 340px;
        flex-grow: 1;


        &_comfort {
          margin-left: 0;

          &::before {
            width: 110px;
            height: 90px;
            background-size: contain;
          }
        }

        &_pro {
          margin-left: 0;
          // margin-right: 16px;

          &::before {
            width: 120px;
            height: 100px;
            background-size: contain;
          }
        }

        &_cosy {
          &::before {
            width: 103px;
            height: 103px;
            background-size: contain;
          }
        }
      }

      &__item-title {
        @include heading-4;
        margin-bottom: 10px;
      }

      &__item-text {
        @include text-7;
        line-height: calc(24 / 18);
        max-width: 289px;
        margin: 0 auto;
      }
    }

    &-links {
      padding-bottom: 55px;

      &__item {
        margin: 0;
        width: 204px;
        height: 60px;

        &_googleplay {
          margin-left: 104px;
        }

        &_appstore {
          margin-left: 10px;
        }
      }
    }
  }

  .not-desktop {
    display: none;
  }

}

@include screen ("desktop-wide") {
  .advantages-content {
    padding: 71px 140px 33px 141px;

    &__title {
      @include heading-2;
      margin-bottom: 85px;
      margin-left: 0;
    }

    &-list {
      padding: 0 43px 0 62px;

      &__item {
        padding-left: 0;
        padding-top: 120px;
        margin-bottom: 68px;
        max-width: 340px;
        flex-grow: 1;


        &_comfort {
          margin-left: 0;

          &::before {
            width: 110px;
            height: 90px;
            background-size: contain;
          }
        }

        &_pro {
          margin-left: 0;
          // margin-right: 16px;

          &::before {
            width: 120px;
            height: 100px;
            background-size: contain;
          }
        }

        &_cosy {
          &::before {
            width: 103px;
            height: 103px;
            background-size: contain;
          }
        }
      }

      &__item-title {
        @include heading-4;
        margin-bottom: 10px;
      }

      &__item-text {
        @include text-7;
        line-height: calc(24 / 18);
        max-width: 289px;
        margin: 0 auto;
      }
    }

    &-links {
      padding-bottom: 55px;

      &__item {
        margin: 0;
        width: 204px;
        height: 60px;

        &_googleplay {
          margin-left: 104px;
        }

        &_appstore {
          margin-left: 10px;
        }
      }
    }
  }

  .not-desktop {
    display: none;
  }
}