.advantages {
  display: block;
}

.advantages-content {
  padding: 18px 27px 22px 22px;

  &__title {
    @include text-7;
    margin-bottom: 26px;
    text-align: center;
  }

  &-list {
    padding-bottom: 10px;

    &__item {
      padding-left: 83px;
      margin-bottom: 18px;
      position: relative;

      &::before {
        @include pseudo;
        width: 63px;
        height: 56px;
        left: 0;
        background-size: contain;
      }

      &_comfort {
        &::before {
          background: url("../images/relax_img.svg") center center no-repeat;
        }
      }

      &_pro {
        &::before {
          background: url("../images/connection_img.svg") top 10px center no-repeat;
        }
      }

      &_cosy {
        &::before {
          background: url("../images/order_img.svg") top 3px center no-repeat;
        }
      }
    }

    &__item-title {
      @include text-9;
      margin-bottom: 6px;
    }

    &__item-text {
      @include text-13;
      line-height: calc(13 / 10);
    }
  }

  &-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 14px;
    margin: 0 5px;
    border-bottom: 2px solid $color-border;

    &__item {
      padding: 0;

      // &_appstore {
      //   margin-left: 35px;
      // }

      // &_googleplay {
      //   margin-left: 40px;
      // }
    }
  }
}

@include screen ("tablet") {
  .advantages-content {
    padding: 40px 64px 24px;

    &__title {
      @include text-4;
      margin-bottom: 41px;
      margin-left: 11px;
    }

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 12px;

      &__item {
        padding-left: 0;
        padding-top: 85px;
        margin-bottom: 23px;
        max-width: 192px;
        text-align: center;

        &::before {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background-size: contain;
        }

        &_comfort {
          &::before {
            width: 70px;
            height: 75px;
          }
        }

        &_pro {
          margin-left: 7px;

          &::before {
            top: -7px;
            width: 86px;
            height: 77px;
          }
        }

        &_cosy {
          &::before {
            top: -5px;
            width: 78px;
            height: 76px;
          }
        }
      }

      &__item-title {
        @include text-7;
      }

      &__item-text {
        @include text-9;
        line-height: calc(19 / 14);
      }
    }

    &-links {
      padding-bottom: 28px;
      justify-content: center;
      margin: 0;

      &__item {
        padding: 0 31px;
      }
    }
  }
}

@include screen ("desktop-wide") {
  .advantages-content {
    padding: 71px 141px 33px;

    &__title {
      @include heading-2;
      margin-bottom: 85px;
      margin-left: 19px;
    }

    &-list {
      padding: 0 70px;

      &__item {
        padding-left: 0;
        padding-top: 120px;
        margin-bottom: 65px;
        max-width: 340px;


        &_comfort {
          margin-left: 17px;

          &::before {
            width: 110px;
            height: 90px;
            background-size: contain;
          }
        }

        &_pro {
          &::before {
            width: 120px;
            height: 100px;
            background-size: contain;
          }
        }

        &_cosy {
          &::before {
            width: 103px;
            height: 103px;
            background-size: contain;
          }
        }
      }

      &__item-title {
        @include heading-4;
        margin-bottom: 10px;
      }

      &__item-text {
        @include text-7;
        line-height: calc(24 / 18);
        max-width: 289px;
        margin: 0 auto;
      }
    }

    &-links {
      padding-bottom: 58px;

      &__item {
        padding: 0 52px;
      }
    }
  }
}