mixin advantages()
  +b.SECTION.advantages&attributes(attributes)
    +ui-section-head
      .advantages-content
        h2.advantages-content__title Как это работает
        +b.UL.advantages-content-list
          +e.LI.__item.__item_comfort
            +e.H2.__item-title Удобно
            +e.P.__item-text Закажите первоклассный массаж за считанные секунды в&nbsp;мобильном приложении или на сайте
          +e.LI.__item.__item_pro
            +e.H2.__item-title Профессионально
            +e.P.__item-text Сертифицированный и опытный мастер приедет к вам со столом, полотенцами и маслами
          +e.LI.__item.__item_cosy
            +e.H2.__item-title Приятно
            +e.P.__item-text Получайте удовольствие от&nbsp;массажа, где вам удобно,&nbsp;7 дней в неделю с 08.00 до 22.00, 365 дней в году
        +b.UL.advantages-content-links
          +e.LI.__item.__item_appstore
            +e.A(href="https://app.adjust.com/aeozym")
              picture
                source(media="(min-width: 1200px)", srcset="./assets/images/appstore_desk.png 1x, ./assets/images/appstore_desk@2.png 2x")
                source(media="(min-width: 768px)", srcset="./assets/images/appstore_tab.png 1x, ./assets/images/appstore_tab@2.png 2x")
                img(src="./assets/images/appstore_mob.png", srcset="./assets/images/appstore_mob@2.png 2x" alt="Загрузите в Appstore")
          +e.LI.__item.__item_googleplay
            +e.A(href="https://welny.ru/app/#/booking/")
              picture
                source(media="(min-width: 1200px)", srcset="./assets/images/google_desk.png 1x, ./assets/images/google_desk@2.png 2x")
                source(media="(min-width: 768px)", srcset="./assets/images/google_tab.png 1x, ./assets/images/google_tab@2.png 2x")
                img(src="./assets/images/google_mob.png", srcset="./assets/images/google_mob@2.png 2x" alt="Загрузите в Google Play")
