mixin faq()
  +b.SECTION.faq&attributes(attributes)
    +ui-section-head
      +e.H2.__title FAQ
      +accordions(true)
        +accordion.is-active
          +accordion-header
            +accordion-button Как это работает?
          +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.
        +accordion
          +accordion-header
            +accordion-button Могу ли я перенести или отменить дату сеанса массажа?
          +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.
        +accordion
          +accordion-header
            +accordion-button Безопасно ли оплачивать услуги в приложении Welny?
          +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.
        +accordion
          +accordion-header
            +accordion-button Нужен ли мне собственный массажный стол?
          +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.
        +accordion
          +accordion-header
            +accordion-button Могу ли я использовать свои масло и простыни?
          +accordion-body
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Obcaecati aliquam perferendis velit ex numquam, consequatur
              | doloribus magnam accusantium expedita eveniet,
              | quisquam voluptate quos maiores impedit quibusdam.
              | Quod sit molestias sapiente.
