.faq {
  display: block;
  background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0.2));

  &__title {
    @include text-7;
    margin-bottom: 10px;
    text-align: center;
  }


  .accordion {
    $b: &;
    margin-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;

    .accordions & { margin-top: -1px; }

    &__header {
      @include text-12;
      position: relative;
      height: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 0;

      &::after {
        content: '';
        position: absolute;
        top: 8px;
        left: -19px;
        width: 10px;
        height: 12px;
        background: url("../images/vector_light.svg") center center no-repeat;
        background-size: cover;
        border: none;
        transform-origin: center;
        transform: translateY(-50%) rotate(180deg);
        transition: transform $ease-main;

        #{$b}.is-active & {
          transform: translateY(-50%) rotate(270deg);
          margin-top: 2px;
        }
      }
    }

    &__button {
      padding: 0;
      cursor: pointer;
    }

    &__body {
      @include text-13;
      border-top: 0;
      width: 100%;
      box-sizing: border-box;
      display: none;
      padding: 5px 0;

      #{$b}.is-active & { display: block; }
    }

  }
}

.faq-wrapper {
  padding: 11px 0 15px;
}

.accordion-info {
  &__location,
  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;

    img {
      height: 27px;
      width: auto;
    }

    &-text {
      padding-left: 10px;
    }
  }
}

.video-wrapper {
  position: relative;
  width: 210px;
  height: 119px;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@include screen ("tablet") {
  .faq {
    background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0));

    &__title {
      @include text-4;
      margin-bottom: 26px;
      margin-right: 3px;
      color: $color-border;
    }

    .accordion {
      margin-bottom: 12px;
      padding: 0 120px 0 125px;

      &__header {
        @include text-7;
        padding: 0;
        // padding-left: 115px;

        &::after {
          top: 11px;
          left: -22px;
          width: 8px;
          height: 13px;
          border-width: 2px 2px 0 0;
        }
      }

      &__body {
        @include text-9;
        padding: 5px 0;
        // padding: 5px 120px;
      }

      &__button {
        padding: 0;
      }
    }

    .accordion-info {
      margin-top: 15px;
      display: flex;
      flex-direction: column;

      &__location,
      &__time {
        img {
          height: 34px;
          width: auto;
          margin-bottom: 15px;
        }
      }
    }
  }

  .faq-wrapper {
    margin-top: 28px;
    padding-top: 23px;
    padding-bottom: 34px;
  }
}

@include screen ("desktop-wide") {
  .faq {
    background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0));

    &__title {
      @include heading-2;
      margin-bottom: 59px;
      margin-left: 18px;
    }

    .accordion {
      margin-bottom: 19px;
      padding-left: 234px;

      &__header {
        @include heading-4;

        &::after {
          background-size: contain;
          left: -41px;
          width: 16px;
          height: 25px;
          top: 20px;
        }
      }

      &__button {
        padding: 0;
      }

      &__body {
        @include text-4;
        padding: 15px 0;
      }
    }
  }

  .faq-wrapper {
    padding: 27px 0 64px;
  }
}