.faq {
  display: block;
  background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0.2));

  &__title {
    @include text-7;
    margin-bottom: 10px;
    text-align: center;
  }


  .accordion {
    $b: &;
    margin-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;

    .accordions & { margin-top: -1px; }

    &__header {
      @include text-12;
      position: relative;
      height: auto;
      width: 100%;
      box-sizing: border-box;

      &::after {
        content: '';
        position: absolute;
        top: 9px;
        left: 11px;
        width: 8px;
        height: 8px;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color: $color-main;
        transform-origin: center;
        transform: translateY(-50%) rotate(45deg);
        transition: transform $ease-main;

        #{$b}.is-active & {
          transform: translateY(-50%) rotate(135deg);
          margin-top: 2px;
        }
      }

    }

    &__button {
      padding: 0 10px;
      cursor: pointer;
    }

    &__body {
      @include text-13;
      border-top: 0;
      width: 100%;
      box-sizing: border-box;
      display: none;
      padding: 5px 33px;

      #{$b}.is-active & { display: block; }
    }

  }
}

.faq-wrapper {
  padding: 11px 0 15px;
}

.accordion-info {
  &__location,
  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;

    img {
      height: 27px;
      width: auto;
    }

    &-text {
      padding-left: 10px;
    }
  }
}

.video-wrapper {
  width: 245px;
  height: 140px;
}

@include screen ("tablet") {
  .faq {
    background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0));

    &__title {
      @include text-4;
      margin-bottom: 26px;
      color: $color-border;
    }

    .accordion {
      margin-bottom: 12px;
      padding: 0 120px 0 125px;

      &__header {
        @include text-7;
        padding: 0;
        // padding-left: 115px;

        &::after {
          top: 11px;
          left: -30px;
          width: 9px;
          height: 9px;
          border-width: 2px 2px 0 0;
        }
      }

      &__body {
        @include text-9;
        padding: 5px 0;
        // padding: 5px 120px;
      }

      &__button {
        padding: 0;
      }
    }

    .accordion-info {
      margin-top: 15px;
      display: flex;
      flex-direction: column;

      &__location,
      &__time {
        img {
          height: 34px;
          width: auto;
          margin-bottom: 15px;
        }
      }
    }
  }

  .faq-wrapper {
    margin-top: 28px;
    padding-top: 23px;
    padding-bottom: 34px;
  }
}

@include screen ("desktop-wide") {
  .faq {
    background: linear-gradient(to bottom, $color-fill-semi 50%, $color-fill-semi 50%, rgba(253, 240, 230, 0));

    &__title {
      @include heading-2;
      margin-bottom: 59px;
    }

    .accordion {
      margin-bottom: 19px;
      padding-left: 234px;

      &__header {
        @include heading-4;

        &::after {
          left: -60px;
          width: 15px;
          height: 15px;
          top: 22px;
        }
      }

      &__button {
        padding: 0;
      }

      &__body {
        @include text-4;
        padding: 15px 230px;
      }
    }
  }

  .faq-wrapper {
    padding: 27px 0 46px;
  }
}