.header-menu {
  display: block;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px 18px 0 42px;
  min-height: 45px;

  &__login {
    min-width: 25px;
    height: 28px;
    transition: $ease-main;
    text-align: right;

    &:hover {
      opacity: 0.5;
    }

    &-text {
      display: none;
    }

    // &__enter {
    //   display: none;
    //   background: url("../images/log-in_mob.svg") left 8px center no-repeat;
    //   @include text-7;
    //   color: $color-main;
    //   margin-left: 40px;
    // }

    &_enter {
      padding: 0 8px 0 34px;
      color: $color-main;
      background: url("../images/log-in_mob.svg") left 5px center no-repeat;
      // background-size: 20px;
    }

    &_pers {
      padding: 0 8px 0 34px;
      color: $color-main;
      background: url("../images/user.svg") left 5px center no-repeat;
      background-size: 28px;
      margin-left: auto;
    }
  }

  &__logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    svg {
      width: 68px;
      height: 29px;
    }
  }

  &__burger {
    position: absolute;
    left: 13px;
    top: 13px;
    z-index: 10;
    width: 32px;
    height: 23px;

    &.menu-closed {
      background: url("../images/burger.svg") center center no-repeat;
      background-size: contain;
    }

    &.menu-opened {
      background: url("../images/menu_close.svg") center center no-repeat;
      background-size: contain;
    }
  }

  // &__personal {
  //   display: none;
  // }

  &__enter {
    display: none;
  }
}

.header-menu-list {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 62px 37px;
  background-color: $color-border;
  z-index: 9;

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    @include text-4;
    color: white;

    &:hover {
      color: $color-main;
    }
  }
}

@include screen ("fonts-fix-start") {
  .header-menu-list {
    &__link {
      font-size: 26px;
      line-height: calc(30 / 26);
    }
  }
}

@include screen ("fonts-fix-end") {
  .header-menu-list {
    &__link {
      @include text-4;
    }
  }
}


@include screen ("tablet") {
  .header-nav {
    margin: 0 31px 0 31px;
    min-height: 64px;

    &__login {
      // min-width: 104px;
      height: 31px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      // width: 149px;
      // height: 31px;
      // margin-right: 1px;
      margin-top: 7px;
      // vertical-align: middle;
      border: 1px solid $color-main;
      border-radius: 8px;
      // background: url("../images/user.svg") left 3px center no-repeat;

      &_enter {
        // padding: 0 8px 0 34px;
        // color: $color-main;
        // background: url("../images/log-in_mob.svg") left 5px center no-repeat;
        background-size: 20px;
      }

      &-text {
        display: block;
      }

      &_pers {
        background-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &__logo {
      margin-top: 10px;
      svg {
        width: 78px;
        height: 33px;
      }
    }

    &__personal {
      @include text-9;
      color: $color-main;
      margin-right: 3px;
      margin-left: 3px;
      min-width: 147px;
      height: 31px;
      // // margin-right: 1px;
      // // margin-top: 5px;
    }

    &__burger {
      left: 25px;
      top: 22px;
      width: 28px;
      height: 22px;

      &.menu-closed {
        background: url("../images/burger.svg") center center no-repeat;
        background-size: contain;
      }

      &.menu-opened {
        background: url("../images/menu_close.svg") center center no-repeat;
        background-size: contain;
      }
    }
  }

  .header-menu-list {
    padding: 90px 68px 61px;

    &__item {
      margin-bottom: 33px;
    }
  }
}

@include screen ("desktop") {
  .header-nav {
    margin: 0 42px 0 41px;
    min-height: 130px;

    &__logo {
      position: static;
      transform: none;
      order: 1;
      margin: 3px 0 0 8px;

      svg {
        width: 145px;
        height: 69px;
      }
    }

    &__login {
      order: 3;
      height: 47px;
      vertical-align: middle;
      @include text-7;
      color: $color-main;
      display: block;
      margin-left: 40px;

      &_pers {
        padding: 0 21px 0 59px;
        background-size: 30px;
        background-position-x: 17px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &_enter {
        padding: 0 21px 0 59px;
        background-size: 25px;
        background-position-x: 17px;
      }
    }

    &__burger {
      display: none;
    }
  }

  .header-menu-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    margin-left: 60px;
    margin-right: auto;
    width: 732px;
    order: 2;
    height: auto;
    padding: 0;

    &__item {
      margin-bottom: 0;

      &_types {
        padding-right: 5px;
      }

      &_prices {
        padding-right: 4px;
      }

      &_specs {
        padding-right: 5px;
      }

      &_reviews {
        padding-right: 6px;
      }
    }

    &__link {
      color: $color-basic;
    }

    &__text {
      display: none;
    }
  }

}

@include screen ("desktop-wide") {
  .header-nav {
    margin: 0 42px 0 41px;
    min-height: 130px;

    &__logo {
      order: 1;
      margin: 3px 0 0 8px;

      svg {
        width: 145px;
        height: 69px;
      }
    }

    // &__login {
    //   &_pers {
    //     display: none;
    //   }
    // }

    // &__login {
    //   order: 3;
    //   width: 131px;
    //   height: 47px;
    //   vertical-align: middle;
    //   background: url("../images/log-in_mob.svg") left 18px top 7px no-repeat;
    // }

    // // &__personal {
    // //   display: none;
    // // }

    // &__enter {
    //   @include text-7;
    //   color: $color-main;
    //   display: block;
    //   margin-left: 40px;
    // }

    &__burger {
      display: none;
    }
  }

  .header-menu-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    margin-left: 72px;
    margin-right: 269px;
    width: 732px;
    order: 2;
    height: auto;
    padding: 0;

    &__item {
      margin-bottom: 0;

      &_types {
        padding-right: 5px;
      }

      &_prices {
        padding-right: 4px;
      }

      &_specs {
        padding-right: 5px;
      }

      &_reviews {
        padding-right: 6px;
      }
    }

    &__link {
      color: $color-basic;
    }

    &__text {
      display: none;
    }
  }
}