mixin header-menu()
  +b.header-menu&attributes(attributes)
    +ui-section-head
      +b.NAV.header-nav
        +e.BUTTON.__burger.js-toggle.js-unfreeze.menu-closed
          p.visually-hidden Меню сайта
        +b.UL.header-menu-list.visually-hidden
          +e.LI.__item.__item_about
            +e.A.__link(href="https://welny.ru/aboutw/") О Welny
          +e.LI.__item.__item_types
            +e.A.__link(href="#types").js-anchor Типы
              +e.span.__text массажа
          +e.LI.__item.__item_prices
            +e.A.__link(href="#prices").js-anchor Цены
          +e.LI.__item.__item_specs
            +e.A.__link(href="#masseur").js-anchor Специалисты
          +e.LI.__item.__item_reviews
            +e.A.__link(href="#reviews").js-anchor Отзывы
          +e.LI.__item.__item_faq
            +e.A.__link(href="#faq").js-anchor FAQ
        +link-icon("logo_head").header-nav__logo
        +e.BUTTON.__login.__login_pers(href="#")
          span.header-nav__login-text Личный&nbsp;кабинет
        //- +e.BUTTON.__login.__login_enter(href="#")
        //-   span.header-nav__login-text Войти
