include ../blocks/accordion/accordion
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/container/container
include ../blocks/content-zone/content-zone
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/header-menu/header-menu
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/map/map
include ../blocks/popups/popups
include ../blocks/put-block-into-slot/put-block-into-slot
include ../blocks/rating/rating
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/type-slider/type-slider
include ../blocks/types/types
include ../components/about-us/about-us
include ../components/advantages/advantages
include ../components/faq/faq
include ../components/header/header
include ../components/masseur/masseur
include ../components/prices/prices
include ../components/reviews/reviews
include ../components/ui-kit/ui-kit